#arrow-top {
    position: fixed;
    bottom: 60px;
    right: 20px;
    border: 1px solid #000000;
    background-color: #000000;
    color: #00ff00;
    padding: 20px;
    border-radius: 50%;
    z-index: 9999;
    transition: .5s;
}
#arrow-top:hover {
    border: 1px solid #00ff00;
    background-color: #00ff00;
    color: #000000;
    transition: .5s;
}