body {
    background-image: url('../images/book3.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
}

#form {
    width: 800px;
    padding: 20px;
    margin: 0 20px;
    background-color: #ffffffb4;
    border-radius: 15px;
}

#form>a {
    position: fixed;
    top: 10%;
    left: 5%;
    text-decoration: none;
    cursor: pointer;
}

#form>a.return {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 6px 9px;
    border-radius: 10px;
}

.name,
.types,
.days,
.tel,
.address {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="date"],
select {
    width: 100%;
    border-radius: 4px;
    border: 1px solid #ccc;
}

select {
    height: 34px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

a {
    display: block;
    margin-bottom: 10px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 6px;
    text-align: center;
}

.modal-content h2 {
    margin-top: 0;
}

.modal-content button {
    padding: 8px 16px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.modal-content button:hover {
    background-color: #45a049;
}