:root {
    --color-icon: #00ff00;
    --color-text: #111;
    --color-in-btn: #fff;
    --color-fb: #1877f2;
    --color-white: #fff;
    --color-off-door:rgb(255, 0, 0);
    --color-text-intro:#663300;
    --bg-btn: #4CAF50;
    --bg: #000000; 
}
.intro-content {
    color: var(--color-text-intro);
    /* Màu nâu đậm */

    /* color:#0000FF; Màu xanh đậm*/
    /* color:#333333; Màu xám đậm*/
    /* color:#000000; Màu chữ đen*/
    /* color:#006600; Màu xanh lá cây đậm*/
    /* color:#666666; Màu xám trung bình*/
}
b {
    color: var(--color-text);
}
.return {
    position: fixed;
    top: 10%;
    right: 5%;
    text-decoration: none;
    cursor: pointer;
    background-color: var(--bg-btn);
    color: var(--color-white);
    padding: 20px 20px;
    height:50px;
    width: 50px;
    border-radius: 10px;
}
.return .fa-arrow-rotate-left{
    position: absolute;
    top:50%; left:50%;
    transform: translate(-50%, -50%);
}
.BookLink {
    width: 100%;
    text-align: center;
    background: var(--bg);
    padding: 16px 0;
}
.BookLink a {
    text-decoration: none;
    color: var(--color-white);
}
.BookLink .fa-check {
    color: var(--color-icon);
}
.scroll{
    position: fixed;
    top:0;
    left:0; 
    right:0;
    background: var(--bg);
    height: 5px;
    width: 100%;
}
.scroll .value{
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: var(--color-icon);
    width: 0%;
}
