/* .phone {
    position: fixed;
    bottom: 5px;
    left: 5px;
    z-index: 999;
    background-color: #000000;
    padding: 10px 20px;
    border-radius: 10px;
  }
  
  .phone .tel {
    color: #ffffff;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  
  .phone .tel i {
    color: #00ff00;
    font-size: 20px;
    border: 5px solid #ffffff;
    border-radius: 50%;
    padding: 8px;
    animation: phone 1s linear infinite;
    transition: 0.5s;
  }
  
  @keyframes phone {
    0% {
      transform: rotate(15deg);transition: 0.5s;
    }
  
    10% {
      transform: rotate(0deg);
    }
  
    20% {
      transform: rotate(15deg);transition: 0.5s;
    }
  
    40% {
      transform: rotate(0deg);
    }
  
    60% {
      transform: rotate(15deg);transition: 0.5s;
    }
  
    80% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(-20deg);
    }
  } */
  /* het phone */


  .contact-phone {
    position: fixed;
    bottom: 10px;
    right: 20px;
    border-radius: 30px;
    padding: 8px 12px;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    z-index: 9999;
  }
  
  .circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #000;
    color: #00ff00;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: phone 1s infinite ease;
    transition: 0.5s;
  }
  
  .sdt {
    background-color: #000;
    padding: 10px 20px ;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
  }

@keyframes phone {
  0% {
    transform:translateY(10px);transition: 0.5s;
  }

  10% {
    transform: translateX(20px);
  }

  20% {
    transform:translateY(10px);transition: 0.5s;
  }

  40% {
    transform: translateX(20px);
  }

  60% {
    transform:translateY(10px);transition: 0.5s;
  }

  80% {
    transform: translateX(20px);
  }

  100% {
    transform:translateY(10px);
  }
}

/* het contact-phone */