* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

#tiemToc {
  border: 1px solid black;
  border-radius: 20px;
  padding: 20px;

  
}
.thanhDieuHuong{
  background-color:#000000;
}
.thanhDieuHuong ul{
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;

}
.thanhDieuHuong ul li{
  padding: 10px 20px;
  color:white;

}



@keyframes throw-rotate {
  0% { transform: rotate(0)}
  100% { transform: rotate(360deg)}
}
#scissors-icon {
  animation: throw-rotate 10s linear infinite;
  color:white;
  transition: 0.5s;
}

#tiemToc img{
  width: 100%;
}